.title {
    padding-top: 76px !important;
}
.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px;
    padding-bottom: 60px !important;
    .card{
        height: 260px;
        width: 160px;
        margin: 16px;
        box-shadow: 0px 5px 7px 0px $dark-grey;
        position: relative;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        h3 {
            text-transform: capitalize;
        }
        .img-card {
            height: 60%;
            width: 100%;
            z-index: 1;
            img {
                height: 80%;
                object-fit: contain;
            }
        }
        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 35%;
            width: 100%;
            border-radius: 5px;
            background-color: $grey-card;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}