@import './variables';
@import './partials/header';
@import './partials/home';
@import './partials/pokemonCard';
@import './partials/pokemon';
@import './partials/loader';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.text-black {
    color: $text-black;
}
.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}
.my-5{
   margin: 16px 0; 
}
.mx-0 {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}
.mt-5{
   margin-top: 16px; 
}
.mb-5{
   margin-bottom: 16px; 
}
.form-catch {
    display: flex;
    justify-content: center;
    .btn-catch {
        margin-left: 0;
    }
}

.btn-default {
    border-radius: 20px;
    padding: 8px 16px;
    margin-left: 16px;
    transition: 0.5s;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
}
.btn-fff {
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
}
.btn-000 {
    border: 1px solid $text-black;
    color: $text-black;
}
.btn-catched {
    margin-left: 0;
    border: 1px solid $red-primary !important;
    color: $red-primary;
    cursor: pointer;
}
.btn-release {
    margin-left: 0;
    margin-top: 16px;
    color: $yellow;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid darken($yellow, $amount: 10)  !important;
        text-decoration: underline;
    }
}

.btn-hover:hover {
    background-color: rgba( $dark-grey, 0.1);
    cursor: pointer;
    color: $text-black;
}

.active {
    color: $yellow;
}


.bg-ball {
    background-image: url('../assets/pokeball.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg-poke{
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
    min-height: 100vh;
}