@import './variables';
@import './partials/header';
@import './partials/home';
@import './partials/pokemonCard';
@import './partials/pokemon';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.text-black {
    color: $text-black;
}
.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}

.btn-default {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    padding: 8px 16px;
    color: #fff;
    margin-left: 16px;
    transition: 0.5s;
    text-align: center;
}